body {
  font-family: "trebuchet ms";
  background: #1d1d1d;
}

h1 {
  font-family: "trebuchet ms";
  text-align: center;
  font-size: 3em;
  color: #fff;
  font-weight: 100;
}

.main {
  margin-top: 5%;
}

.unauthorized {
  text-align: center;
  color: #ffffff;
}

.notFound {
  text-align: center;
  color: #e42148;
}

.unauthorized a{
  color: #e42148;
  text-decoration: none;
}

.unauthorized a:any-link{
  color: #e42148;
  text-decoration: none;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98px;
  height: 98px;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

img.logo:hover {
  -webkit-tranform: translateY(9px);
  -ms-tranform: translateY(9px);
  -o-tranform: translateY(9px);
  transform: translateY(9px);
  -webkit-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

h4.flash {
  text-align: center;
  color: #ffffff;
}

.row {
  width: 420px;
  height: 250px;
  padding: 10px;
  margin: auto;
  border-top: 3px solid #e42148;
}

.form-p {
  padding: 5px;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 90%;
  border: none;
  border-bottom: solid 1px #fff;
  border-radius: 10px;
  padding: 1em;
  font-size: 1em;
  color: #141414;
  margin: 10px 0 0;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background-color: #ededed;
  
}

::-webkit-input-placeholder {
  color: #141414;
  font-family: 'Dosis', sans-serif;
}

input[type="submit"] {
  font-size: 1em;
  background-color: #e42148;
  color: #fff;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  /*cursor: pointer;*/
  margin: 2em 0;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #7b0c22;
  -webkit-tranform: translateY(9px);
  -ms-tranform: translateY(9px);
  -o-tranform: translateY(9px);
  transform: translateY(9px);
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
}

.text {
  color: #141414;
}

.form-p {
  margin-top: 5px;
  font-size: 1.1em;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
}

.form-p a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
}

.form-p a:hover {
  color: #1abc9c;
}

a {
  color: #00B7FF;
}

canvas.video {
  border: 8px solid white;
  border-radius: 10px;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
}

p.clock {
  color: #ffffff;
  text-align: center;
}
