body {
	background: #1a1a1a;
	height: 100%;
    color: #424242;
}

h1 {
	font-size: calc(12px + 3vw);
}

h1.pink {
	font-size: calc(12px + 3vw);
}

html {
	height: 100%; 
	min-height: 500px;
	background: #1a1a1a;
}

.margin-center {
	margin: 0 auto;
}

.pink {
	color: #e42148;
	font-family: "trebuchet ms", sans-serif;
}

.shortbutton {
    background: #e42148;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    border: none;
}

a.shortbuttonBlock {
    background: #e42148;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    display: block;
    font-size: 1em;
    border: none;
}

a.shortbuttonBlock:any-link {
    text-decoration: none;
}

a.shortbutton {
    background: #e42148;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    font-size: calc(8px + 0.5vw);
}

a.shortbutton:any-link {
	text-decoration: none;
}

a.longbutton {
	font-family: "trebuchet ms", sans-serif;
	text-align: center;
    background: #383838;
    color: #919191;
    padding: 8px;
    border-radius: 10px;
    display: block;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

a.longbutton:any-link {
    text-decoration: none;
}

a.longbutton:hover {
    background: #e42148;
    color: #ffffff;
	-webkit-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}

.innerBG {
	min-width: 400px;
	width: 60%;
}

.innerBG h1 {
	text-align: left;
}

.flash {
    font-size: 1em;
    text-align: center;
    background: #e42148;
    border-radius: 10px;
    color: #fff;
}

.login {
	background: rgba(255,255,255,0.05);
    border-radius: 20px;
    min-width: 400px;
    color: #fff;
    font-family: "trebuchet ms", sans-serif;
    text-align: center;
}

.login img {
    margin: 0 auto;
    display: block;
}

.login img:hover {
    -webkit-tranform: translateY(3px);
    -ms-tranform: translateY(3px);
    -o-tranform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.login h1 {
    font-size: 2.8em;
    font-weight: 100;
}

.login hr {
	border: 2px solid #e42148;
}

input.text {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #fff;
    border-radius: 10px;
    padding: 1em;
    font-size: 1em;
    color: #141414;
    margin: 10px 0 0;
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-color: #ededed;
}

input.submit {
    font-size: 1em;
    background-color: #e42148;
    color: #fff;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 10px;
}

input.submit:hover {
  background-color: #7b0c22;
  -webkit-tranform: translateY(3px);
  -ms-tranform: translateY(3px);
  -o-tranform: translateY(3px);
  transform: translateY(3px);
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
}

.autor {
    font-family: "trebuchet ms", sans-serif;
    color: #515151;
    font-size: 0.9em;
    text-align: center;
}

.autor a {
	color: #e54548;
}

.autor a:any-link {
	text-decoration: none;
}

::-webkit-input-placeholder {
  color: #8a8a8a;
  font-family: "trebuchet ms", sans-serif;
}

a.cameraItems {
    background: #252525;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

a.cameraItems:any-link {
	text-decoration: none;
}

a.cameraItems:hover {
	background: #2b2b2b;
}

.video {
	border: 8px solid #505050;
	border-radius: 10px;
	width: 100%;
}

.videoBG {
	position: relative;
}

form.streamForm {
	position: absolute;
	right: 20px;
	bottom: 28px;
}

input.streamRecord {
	background: #e42148;
	color: #fff;
	padding: 8px;
	border-radius: 10px;
	font-size: 0.7em;
	border: none;
	cursor: pointer;
}

.listItem {
	height: 50px;
    border-bottom: 1px solid #3a3a3a;
    background: #292929;
    border-top: 1px solid #1f1f1f;
    align-items: center;
    display: grid;
    color: #ffffff;
    padding: 10px;
}

.listItem:hover {
	background: #333333;
}

a.vidList {
  background: #232323;
  border-radius: 3px;
  height: 67px;
  width: 100px;
  min-width: 32%;
  text-align: center;
  align-content: center;
  display: grid;
  transition: all 0.5s;
  text-decoration: none;
  color: #ffffff;
  font-size: calc(8px + 0.3vw);
}

a.vidList:hover {
  background: #e42148;
}

a.vidList span {
  color: #4a4a4a;
}

a.vidList:any-link {
  text-decoration: none;
  color: #ffffff;
}

a.removeButton {
  color: #e54548;
  font-size: 14px;
  line-height: 1.8em;
}

a.removeButton:any-link {
  text-decoration: none;
}

.circleGreen {
  width: 10px;
  height: 10px;
  background: #4ddb1d;
  display: block;
  border-radius: 50%;
  float: right;
  margin-top: 7px;
}

.circleRed {
  width: 10px;
  height: 10px;
  background: #ed1010;
  display: block;
  border-radius: 50%;
  float: right;
  margin-top: 7px;
}

.videoBackground {
  background: rgba(0,0,0,0.25);
}

@media screen and (max-width: 720px) {
    .resptext {
        font-size: 12px;
    }
}