:root {
  /* pink */
  --primary-color: #d12049;
  --secondary-color: #7d132c;
  --third-color: #3f0a16;
  --fourth-color: #eda6b6;
  --fifth-color: #ff6868;
  --primary-trans-color-1: rgba(209, 32, 73, 0.75);
  --primary-trans-color-2: rgba(209, 32, 73, 0.5);
  --primary-trans-color-3: rgba(209, 32, 73, 0.25);
  --primary-trans-color-4: rgba(209, 32, 73, 0.1);
  /* LIGHT */
  --primary-font-color: #000000;
  --secondary-font-color: #c8c8c8;
  --third-font-color: #f4f4f4;
  --fourth-font-color: #fff;
  --primary-bg-color: #f4f4f4;
  --secondary-bg-color: #ffffff;
  --third-bg-color: #dbdbdb;
  --fourth-bg-color: #a2a2a2;
  --trans-bg-color: rgba(255, 255, 255, 0.8);
  --trans-font-color: rgba(0, 0, 0, 0.5);
  --trans-border-color: rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] {
  --primary-font-color: #ffffff;
  --secondary-font-color: #6c6c6c;
  --third-font-color: #878787;
  --fourth-font-color: #bdbdbd;
  --primary-bg-color: #000000;
  --secondary-bg-color: #2a2a2a;
  --third-bg-color: #404040;
  --fourth-bg-color: #676767;
  --trans-bg-color: rgba(29, 29, 29, 0.8);
  --trans-font-color: rgba(255, 255, 255, 0.5);
  --trans-border-color: rgba(128, 128, 128, 0.05);
}

[data-theme-color='blue'] {
  --primary-color: #0a84ff;
  --secondary-color: #064f99;
  --third-color: #03284d;
  --fourth-color: #9dceff;
  --fifth-color: #0bdafb;
  --primary-trans-color-1: rgba(10, 132, 255, 0.75);
  --primary-trans-color-2: rgba(10, 132, 255, 0.5);
  --primary-trans-color-3: rgba(10, 132, 255, 0.25);
  --primary-trans-color-4: rgba(10, 132, 255, 0.1);
}

[data-theme-color='yellow'] {
  --primary-color: #f9d74b;
  --secondary-color: #95812d;
  --third-color: #4b4117;
  --fourth-color: #fdefb7;
  --fifth-color: #f3ff38;
  --primary-trans-color-1: rgba(249, 215, 75, 0.75);
  --primary-trans-color-2: rgba(249, 215, 75, 0.5);
  --primary-trans-color-3: rgba(249, 215, 75, 0.25);
  --primary-trans-color-4: rgba(249, 215, 75, 0.1);
}

[data-theme-color='green'] {
  --primary-color: #66ce66;
  --secondary-color: #3d7c3d;
  --third-color: #1f3e1f;
  --fourth-color: #c2ebc2;
  --fifth-color: #b7ff67;
  --primary-trans-color-1: rgba(102, 206, 102, 0.75);
  --primary-trans-color-2: rgba(102, 206, 102, 0.5);
  --primary-trans-color-3: rgba(102, 206, 102, 0.25);
  --primary-trans-color-4: rgba(102, 206, 102, 0.1);
}

[data-theme-color='gray'] {
  --primary-color: #626365;
  --secondary-color: #3b3b3d;
  --third-color: #1d1e1e;
  --fourth-color: #c0c1c1;
  --fifth-color: #969696;
  --primary-trans-color-1: rgba(98, 99, 101, 0.75);
  --primary-trans-color-2: rgba(98, 99, 101, 0.5);
  --primary-trans-color-3: rgba(98, 99, 101, 0.25);
  --primary-trans-color-4: rgba(98, 99, 101, 0.1);
}
