:root {
	--primary-color: #D12049;
	--secondary-color: #7D132C;
	--third-color: #3F0A16;
	--fourth-color: #EDA6B6;
	--fifth-color: #FF6868;
	--primary-font-color: #000000;
	--secondary-font-color: #c8c8c8;
	--third-font-color: #f4f4f4;
	--fourth-font-color: #fff;
	--primary-bg-color: #f4f4f4;
	--secondary-bg-color: #ffffff;
	--third-bg-color: #dbdbdb;
	--fourth-bg-color: #a2a2a2;
	--trans-bg-color: rgba(255, 255, 255, 0.8);
	--trans-font-color: rgba(0, 0, 0, 0.5);
	--trans-border-color: rgba(0,0,0,0.15);
}

[data-theme="dark"] {
	--primary-font-color: #ffffff;
	--secondary-font-color: #6c6c6c;
	--third-font-color: #878787;
	--fourth-font-color: #bdbdbd;
	--primary-bg-color: #000000;
	--secondary-bg-color: #2a2a2a;
	--third-bg-color: #404040;
	--fourth-bg-color: #676767;
	--trans-bg-color: rgba(29, 29, 29, 0.8);
	--trans-font-color: rgba(255, 255, 255, 0.5);
	--trans-border-color: rgba(128, 128, 128, 0.05);
}

[data-theme-color="blue"] {
	--primary-color: #0A84FF;
	--secondary-color: #064F99;
	--third-color: #03284D;
	--fourth-color: #9DCEFF;
	--fifth-color: #0bdafb;
}

[data-theme-color="yellow"] {
	--primary-color: #F9D74B;
	--secondary-color: #95812D;
	--third-color: #4B4117;
	--fourth-color: #FDEFB7;
	--fifth-color: #f3ff38;
}

[data-theme-color="green"] {
	--primary-color: #66CE66;
	--secondary-color: #3D7C3D;
	--third-color: #1F3E1F;
	--fourth-color: #C2EBC2;
	--fifth-color: #b7ff67;
}

[data-theme-color="gray"] {
	--primary-color: #626365;
	--secondary-color: #3B3B3D;
	--third-color: #1D1E1E;
	--fourth-color: #C0C1C1;
	--fifth-color: #969696;
}