extends layout

block content
  body(style='height:auto;margin-top:30px;')
    .container-fluid.d-flex.h-100
      .d-flex.justify-content-center.align-self-center.margin-center.innerBG.flex-column
        .d-flex.flex-row
          .p-2
            h1
              | #
              b.pink Cameras
          .ml-auto.p-2.align-self-center
            a.shortbutton(href='/logout')
              | Sign out, 
              b= user
        each camera in cameras.length ? cameras : [{name: 'No Cameras', url: '/cameras/#', ping: false}]
          if camera.ping
            a.p-4.cameraItems(href=camera.url)
              img(src='/images/yi_logo.png', style='margin-top: -4px;margin-right: 5px;', width='20px')
              | !{camera.name} 
              span.circleGreen
          else 
            a.p-4.cameraItems(href=camera.url)= camera.name + ' (Offline)'
              span.circleRed