extends layout

block content
  body
    .container-fluid.d-flex.h-100
      .row.justify-content-center.align-self-center.margin-center.flex-column
        .p-4.login
          img(src='/images/yi_logo.png')
          h1= 'Error ' + error.status
          h2= message
          a.shortbutton(href='/') Back