extends layout

block content
  body
    .container-fluid.d-flex.h-100
      .row.justify-content-center.align-self-center.margin-center.flex-column
        .p-4.login
          img(src='/images/yi_logo.png')
          h1 Login
          hr
          .form-p
            form(method='post')
              input.text(type='text', placeholder='Username', name='username', required='')
              input.text(type='password', placeholder='Password', name='password', required='')
              input.submit(type='submit', value='Submit')
        .p-2.autor
          | homebridge-camera-ui by 
          a(target='_blank', rel='noopener noreferrer', href='https://github.com/SeydX') seydx
