extends layout

block content
  .mainvideo
    h1.titleStream
      | #
      span.pinkTitle= title
    p.logout
      a.logoutButton(href='/logout')= logout
    p#clock.clock
    p.movement
      | Last Movement: 
      span.movementClock= lastmovement
    canvas#video-canvas.video Your browser doesn't support canvas tag!
    a.displayCameras(href='/cameras') Show all Cameras
    script(type='text/javascript', src='/javascripts/jsmpeg.min.js')
    script(type='text/javascript').
      var canvas = document.getElementById('video-canvas');
      var url = 'ws://' + document.location.hostname + ':8100/';
      var player = new JSMpeg.Player(url, {
      canvas: canvas
      });
      (function() {
      var clockElement = document.getElementById("clock");
      function updateClock(clock) {
      clock.innerHTML = new Date().toLocaleString();
      }
      setInterval(function() {
      updateClock(clockElement);
      }, 1000);
      }());