extends layout

block content
  .outwrap
    .mainNext
      img.logo(src='/images/yi_logo.png')
      h1.title Unauthorised
      p.unauthorized You're unauthorised to view this page.
      p.unauthorized Please <a href="/">login</a> to continue